name: C++ core tests

on:
  pull_request:
  push:
    branches:
      - main

# Cancel currently running job if a new one comes along for the same branch or tag.
# From https://stackoverflow.com/a/72408109.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  tests:
    name: Build and run ${{ matrix.config }} tests
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        config: [opt, asan, ubsan]
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true  # for the mgrid test data
      - name: Install required system packages for Ubuntu
        run: |
          sudo apt-get update && sudo apt-get install -y build-essential cmake liblapack-dev libomp-dev python3-dev python3-pip python-is-python3
      - name: Mount bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel
      - name: Build VMEC++ via bazel
        run: |
          cd src/vmecpp/cpp
          bazel build --config=${{ matrix.config }} -- //...
      - uses: actions/checkout@v4
        with:
          repository: proximafusion/vmecpp_large_cpp_tests
          path: src/vmecpp/cpp/vmecpp_large_cpp_tests
          lfs: true
      - name: Build VMEC++ C++ tests via bazel
        run: |
          cd src/vmecpp/cpp
          bazel build --config=${{ matrix.config }} -- //vmecpp_large_cpp_tests/...
      - name: Run full C++ test suite
        run: |
          cd src/vmecpp/cpp
          bazel test --config=${{ matrix.config }} --jobs=1 --test_output=errors -- //...
